.hidden {
  display: none;
}

.visible {
  position: relative;
  top: 500px;
  animation-name: planet;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* opacity: 0.5; */
}

@keyframes planet {
  0% {
    opacity: 0;
    /* transform: translateX(50px); */
  }
  50% {
    opacity: 0.5;
    /* transform: translateX(50px); */
  }
  100% {
    opacity: 1;
    transform: translateX(600px);
  }
  /* 100% {
    opacity: 1;
  } */
}
